<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    h1, h2, h3 { color: #004a87 }
    body { font-family: sans-serif; }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1em;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 0.5em;
      text-align: left;
    }
    th {
      color: #004a87;
      background-color: #f2f2f2;
    }
    .qc-pass { color: green; font-weight: bold; }
    .qc-fail { color: red; font-weight: bold; }
  </style>
</head>
<body>

  <h2>CPO Genomics Analysis Summary: {{ sequencing_run_id }}</h2>

  <p>
    The automated analysis for sequencing run <tt>{{ sequencing_run_id }}</tt> has completed.
    Below is a summary of the results for {{ libraries|length }} librar{{ libraries|length > 1 and 'ies' or 'y' }}.
  </p>

  <h3>Core Genome Results</h3>
  <table>
    <thead>
      <tr>
        <th>Library ID</th>
        <th>QC Status</th>
	<th>Species (%)</th>
	<th>MLST</th>
        <th>Carbapenemase Gene(s)</th>
      </tr>
    </thead>
    <tbody>
      {% for library in libraries %}
      <tr>
        <td>{{ library.library_id }}</td>
        <td class="{{ 'qc-pass' if library.qc_status == 'Pass' else 'qc-fail' }}">
          {{ library.qc_status }}
        </td>
	<td>{{ library.species_percentage or 'N/A' }}</td>
	<td>{{ library.mlst or 'N/A' }}</td>
        <td>{{ library.carbapenemase_genes | join(', ') if library.carbapenemase_genes else 'None detected' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Plasmid Results</h3>

  <table>
    <thead>
      <tr>
        <th>Library ID</th>
        <th>Plasmid Cluster ID</th>
	<th>Closest DB Plasmid</th>
	<th style="text-align:right;">Percent Ref Plasmid Coverage (at 10x Depth)</th>
	<th>Carbapenemase Gene(s)</th>
	<th style="text-align:right;">Plasmid Reconstruction Size (bp)</th>
	<th style="text-align:right;">Num. Contigs</th>
      </tr>
    </thead>
    <tbody>
      {% for plasmid in plasmids %}
      <tr>
        <td>{{ plasmid.library_id }}</td>
	<td>{{ plasmid.cluster_id }}</td>
	<td>{{ plasmid.closest_db_plasmid }}</td>
	<td style="text-align:right;">{{ plasmid.percent_ref_coverage }}</td>
	<td>{{ plasmid.carbapenemase_genes | join(', ') }}</td>
	<td style="text-align:right;">{{ plasmid.size_bp }}</td>
	<td style="text-align:right;">{{ plasmid.num_contigs or 'N/A' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Analysis Metadata</h3>

  <p>
    Please  contact the bioinformatics team if you have any questions.
  </p>

</body>
</html>
